@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
* {
  box-sizing: border-box;
}
body {
  background: #ece9e6;
  background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
  background: linear-gradient(to right, #ffffff, #ece9e6);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
img {
  max-width: 100%;
}
.mobile-container {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 600px;
  background-color: #fff;
  box-shadow: 0 0 12px 7px #333333a1;
  overflow: hidden;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
header input {
  background-color: #dddddd;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-family: inherit;
}
header button {
  background-color: transparent;
  font-size: 1.5rem;
  border: none;
  color: #dddddd;
  margin-left: 8px;
}
.fav-container {
  background-color: rgba(211, 211, 211, 0.377);
  padding: 0.25rem 1rem;
  text-align: center;
}
.fav-meals {
  display: flex;
  overflow: auto;
  list-style-type: none;
  padding: 0;
}
.fav-meals li {
}
.fav-meals li span {
  text-align: center;
  font-size: 1.44rem;
}
.fav-meals li img {
  background-color: #fff;
  border: 5px solid #ffffff;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  object-fit: cover;
}
.meal {
  box-shadow: -4px 12px 9px 0px #333333a1;

  margin: 1.5rem;
  border-radius: 3px;
  border-bottom: 3px solid #f0f0f0;
  overflow: hidden;
}
.meal-header {
  position: relative;
}
.meal-header .radom {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  background-color: #fff;
  top: 37px;
  padding-left: 15px;
  padding-right: 10px;
  font-size: 20px;
}
.meal-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.meal-body h4 {
  margin: 0;
}
.meal-body .fav-btn {
  background-color: transparent;
  border: none;
  font-size: 1.7rem;
  cursor: pointer;
  color: rgb(197, 188, 188);
}
.meal-body .fav-btn.active {
  color: rebeccapurple;
}
